@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    background-color: #24252A;
}

h1, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #edf0f1;
    text-decoration: none;
}

h1{
   font-size: 52px;
   padding: 0px 500px;
   cursor: default;
}

.nav-links{
    float: right;
    list-style: none;
    text-align: left;
    padding-right: 230px;
    padding: 20px;
}

a{
    transition: all 0.3s ease 0s;
}

a:hover{
    color: rgb(129, 10, 153);
}

.imgs{
    display: flex;
    flex-direction: column;
    padding-left: 390px;
}
